* {
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid green;
}

polyline{
    cursor: pointer;
    transition: all .5s;
    stroke-width: 1;
}

polyline:hover {
    stroke-width: 2;
}